/*  font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Merienda', cursive;
    font-family: 'Roboto Slab', serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

/* HEADER nav */
header {
    max-width: 1920px;
    margin: 0 auto;
}

nav {
    background-color: #04E1AF;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

nav ul li {
    flex-basis: 16%;
    text-align: center;
}

nav ul li a {
    display: block;
    background-color: #04E1AF;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-family: arial;
    height: 10vh;
    line-height: 10vh;
    cursor: pointer;
    transition: .3s;
}

nav ul li:hover a {
    background-color: black;
    color: #04E1AF;
}

/* Header banner */
.banner {
    position: relative;
    margin: 0 auto;
    height: calc(100vh - 10vh);
    max-width: 1920px;
    background-color: #04E1AF;
    overflow: hidden;
}

.banner>* {
    position: absolute;
}

/* Header banner info */
.banner .info {
    text-align: center;
    top: 50%;
    right: 10%;
    width: 30vw;
    height: 25vh;
    padding: 30px;
    background-color: rgba(4, 225, 175, 0.4);
    z-index: 1;
}

.banner .info h2 {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 100%;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: black;
}

.banner .info a {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 0;
    font-size: 20px;
    font-family: 'Merienda', cursive;
    background-color: black;
    color: #04E1AF;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    animation: shakes 7s linear infinite;
}

@keyframes shakes {
    0% {
        transform: translateX(0) rotate(0);
    }

    90% {
        transform: translateX(0) rotate(0);
    }

    91% {
        transform: translateX(10px) rotate(10deg);
    }

    92% {
        transform: translateX(-10px) rotate(-10deg);
    }

    93% {
        transform: translateX(10px) rotate(10deg);
    }

    94% {
        transform: translateX(-10px) rotate(-10deg);
    }

    95% {
        transform: translateX(10px) rotate(10deg);
    }

    96% {
        transform: translateX(-10px) rotate(-10deg);
    }

    97% {
        transform: translateX(10px) rotate(10deg);
    }

    98% {
        transform: translateX(-10px) rotate(-10deg);
    }

    99% {
        transform: translateX(10px) rotate(10deg);
    }

    100% {
        transform: translateX(0) rotate(0);
    }
}

.banner .info a:hover {
    box-shadow: 0 0 0 2px black, 0 0 0 4px rgb(4, 225, 175);
    background-color: #04E1AF;
    color: black;
}

/* Header banner img */
.banner img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    animation: banner 28s linear infinite;
}

.banner img:nth-of-type(2) {
    animation-delay: 7s;
}

.banner img:nth-of-type(3) {
    animation-delay: 14s;
}

.banner img:nth-of-type(4) {
    animation-delay: 21s;
}

@keyframes banner {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
    }

    2% {
        opacity: 1;
    }

    28% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.2);
    }
}

/* GALLERY1 */
.gallery1 {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 110vh;
    background-color: black;
}

.gallery1 .description {
    padding: 50px 0;
    text-align: center;
    background-color: #04E1AF;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}

.gallery1 .description p {
    padding: 20px 100px 0 100px;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

.gallery1 .dogs {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: black;
}

.gallery1 .dogs div {
    flex-basis: 23%;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    /* line-height: 0; usuwa linie miedzy wierszami zdjec, lepiej zadziala float:left*/
}



/* Tlo pojawiajace sie po najechaniu na img */
.gallery1 .dogs div h3 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    color: rgba(4, 225, 175);
    text-align: center;
    font-family: 'Merienda', cursive;
    /* line-height: 100%; */
    font-size: 30px;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 20px;
    opacity: 0;
    transform: translateY(-100%);
    transition: .3s;
}

.gallery1 .dogs div:nth-child(5) h3 {
    transform: translateY(100%);
}

.gallery1 .dogs div:nth-child(6) h3 {
    transform: translateY(100%);
}

.gallery1 .dogs div:nth-child(7) h3 {
    transform: translateY(100%);
}

.gallery1 .dogs div:nth-child(8) h3 {
    transform: translateY(100%);
}

.gallery1 .dogs div:hover h3 {
    opacity: 1;
    transform: translateY(0);
}

.gallery1 .dogs div img {
    width: 100%;
    border-radius: 20px;
}

/* Gallery1 button */
.gallery1 a {
    padding: 10px 0;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #04E1AF;
    color: black;
    border-style: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Merienda', cursive;
    cursor: pointer;
    width: 200px;
    transition: .2s;
}

.gallery1 a:hover {
    box-shadow: 0 0 0 2px rgb(12, 12, 12), 0 0 0 4px rgb(4, 225, 175);
    background-color: black;
    color: #04E1AF;
}

@media(max-width: 1720px) {
    .gallery1 .dogs div h3 {
        font-size: 25px;
    }
}

@media(max-width: 1635px) {
    .banner .info {
        height: 30vh;
    }
}

@media(max-width: 1440px) {
    .gallery1 .dogs {
        align-content: space-around;
    }

    .gallery1 .dogs div h3 {
        font-size: 21px;
    }
}

@media(max-width: 1280px) {

    .gallery1 {
        height: 180vh;
    }

    .gallery1 .dogs div {
        flex-basis: 40%;
    }


    .gallery1 .dogs div img {
        width: 80%;
    }

    .gallery1 .dogs div h3 {
        width: 80%;
        left: 10%;
        font-size: 27px;
    }
}

/* GALLERY2 */
.gallery2 {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 110vh;
    background-color: black;
}

.gallery2 .description {
    padding: 50px 0;
    text-align: center;
    background-color: #04E1AF;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}

.gallery2 .description p {
    padding: 20px 100px 0 100px;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

.gallery2 .cats {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: black;
}

.gallery2 .cats div {
    flex-basis: 23%;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* Tlo pojawiajace sie po najechaniu na img */
.gallery2 .cats div h3 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    color: rgba(4, 225, 175);
    text-align: center;
    font-family: 'Merienda', cursive;
    font-size: 30px;
    /* line-height: 110%; */
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 20px;
    opacity: 0;
    transform: translateY(-100%);
    transition: .3s;
}

.gallery2 .cats div:nth-child(5) h3 {
    transform: translateY(100%);
}

.gallery2 .cats div:nth-child(6) h3 {
    transform: translateY(100%);
}

.gallery2 .cats div:nth-child(7) h3 {
    transform: translateY(100%);
}

.gallery2 .cats div:nth-child(8) h3 {
    transform: translateY(100%);
}

.gallery2 .cats div:hover h3 {
    opacity: 1;
    transform: translateY(0);
}

.gallery2 .cats div img {
    width: 100%;
    border-radius: 20px;
}

/* Gallery2 button */
.gallery2 a {
    padding: 10px 0;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #04E1AF;
    color: black;
    border-style: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Merienda', cursive;
    cursor: pointer;
    width: 200px;
    transition: .2s;
}

.gallery2 a:hover {
    box-shadow: 0 0 0 2px rgb(12, 12, 12), 0 0 0 4px rgb(4, 225, 175);
    background-color: black;
    color: #04E1AF;
}

@media(max-width: 1720px) {
    .gallery2 .cats div h3 {
        font-size: 25px;
    }
}

@media(max-width: 1440px) {
    .gallery2 .cats {
        align-content: space-around;
    }

    .gallery2 .cats div h3 {
        font-size: 21px;
    }
}

@media(max-width: 1280px) {

    .gallery2 {
        height: 180vh;
    }

    .gallery2 .cats div {
        flex-basis: 40%;
    }


    .gallery2 .cats div img {
        width: 80%;
    }

    .gallery2 .cats div h3 {
        width: 80%;
        left: 10%;
        font-size: 27px;
    }
}

/* FOOTER */
footer {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    height: 8vh;
    background-color: rgb(4, 225, 175);
    color: white;
    text-align: center;
}

footer p {
    font-size: 20px;
    color: black;
    line-height: 8vh;
}

/* Footer o nas */
footer a:nth-of-type(1) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    padding: 5px 20px;
    color: black;
    font-size: 20px;
    font-family: 'Merienda', cursive;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

footer a:nth-of-type(1):hover {
    background-color: black;
    color: #04E1AF;
}

/* Footer fb */
footer a:nth-of-type(2) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 260px;
    border-radius: 50%;
}

footer a:nth-of-type(2) i {
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: #4267B2;
    color: white;
    line-height: 50px;
    border-radius: 50%;
    transition: .2s;
}

footer a:nth-of-type(2):hover i {
    background-color: white;
    color: #4267B2;
    font-size: 34px;
}

/* Footer instagram */
footer a:nth-of-type(3) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 190px;
    border-radius: 50%;
}

footer a:nth-of-type(3) i {
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(45deg, yellow, red, blue);
    color: white;
    line-height: 50px;
    border-radius: 50%;
    transition: .2s;
}

footer a:nth-of-type(3):hover i {
    background-image: linear-gradient(45deg, blue, red, yellow);
    font-size: 34px;
    font-weight: bold;
}

/* Footer twitter */
footer a:nth-of-type(4) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 120px;
    border-radius: 50%;
}

footer a:nth-of-type(4) i {
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: #28AAE1;
    color: white;
    line-height: 50px;
    border-radius: 50%;
    transition: .2s;
}

footer a:nth-of-type(4):hover i {
    background-color: white;
    color: #28AAE1;
    font-size: 34px;
}

/* Footer github */
footer a:nth-of-type(5) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    border-radius: 50%;
}

footer a:nth-of-type(5) i {
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: #323131;
    color: white;
    line-height: 50px;
    border-radius: 50%;
    transition: .2s;
}

footer a:nth-of-type(5):hover i {
    background-color: white;
    color: #323131;
    font-size: 34px;
}