* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER nav */
nav {
    background-color: #04E1AF;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

li {
    flex-basis: 16%;
    text-align: center;
    margin: 0 10px 0 10px;
}

a {
    display: block;
    background-color: #04E1AF;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-family: arial;
    height: 10vh;
    line-height: 10vh;
    cursor: pointer;
}

nav ul li:hover a {
    background-color: black;
    color: #04E1AF;
}

/* HEADER banner */
.banner {
    position: relative;
    margin: 0 auto;
    height: calc(100vh - 10vh);
    max-width: 1920px;
    background-color: #04E1AF;
    overflow: hidden;
}

.banner>* {
    position: absolute;
    font-family: arial;
}

/* HEADER Banner info */
.banner .info {
    top: 30%;
    right: 10%;
    width: 30vw;
    height: 25vh;
    padding: 30px;
    background-color: rgba(4, 225, 175, 0.5);
    border-radius: 20px;
    z-index: 1;

}

.banner .info h2 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    color: black;
}

.banner .info button {
    display: block;
    padding: 5px 30px;
    margin: 5% auto;
    background-color: #04E1AF;
    color: black;
    border-style: none;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: .2s;
}

.banner .info button:hover {
    box-shadow: 0 0 0 2px rgb(12, 12, 12), 0 0 0 4px rgb(4, 225, 175);
}


/* HEADER Banner img */
.banner img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.banner img:nth-of-type(2) {
    opacity: 0;
}

/* GALLERY1 */
.gallery1 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}

.gallery1 .description {
    padding: 50px 0;
    text-align: center;
    background-color: #04E1AF;
    font-family: arial;
    font-size: 30px;
}

.gallery1 .description p {
    padding: 20px 100px 0 100px;
    font-size: 20px;
}

.gallery1 .dogs {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background-color: black;
}

.gallery1 button {
    padding: 10px 0;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #04E1AF;
    color: black;
    border-style: none;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    width: 200px;
    transition: .2s;
}

.gallery1 button:hover {
    box-shadow: 0 0 0 2px rgb(12, 12, 12), 0 0 0 4px rgb(4, 225, 175);
}

.gallery1 .dogs div {
    flex-basis: 23%;
}

.dogs div img {
    width: 100%;
}

/* GALLERY2 */
.gallery2 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}

.gallery2 .description {
    padding: 50px 0;
    text-align: center;
    background-color: #04E1AF;
    font-family: arial;
    font-size: 30px;
}

.gallery2 .description p {
    padding: 20px 100px 0 100px;
    font-size: 20px;
}

.gallery2 .cats {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background-color: black;
}

.gallery2 button {
    padding: 10px 0;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #04E1AF;
    color: black;
    border-style: none;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    width: 200px;
    transition: .2s;
}

.gallery2 button:hover {
    box-shadow: 0 0 0 2px rgb(12, 12, 12), 0 0 0 4px rgb(4, 225, 175);
}

.gallery2 .cats div {
    flex-basis: 23%;
}

.cats div img {
    width: 100%;
}

/* FOOTER */
footer {
    position: relative;
    height: 10vh;
    background-color: rgb(4, 225, 175);
    color: white;
    text-align: center;
    line-height: 10vh;
}

footer p {
    font-size: 20px;
    color: black;
}

footer button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    background-color: rgb(12, 12, 12);
    color: rgb(4, 225, 175);
    text-transform: uppercase;
    border-style: none;
    border-radius: 10px;
    letter-spacing: 4px;
    padding: 5px 20px;
    font-size: 25px;
    cursor: pointer;
    transition: .2s;
}

footer button:hover {
    box-shadow: 0 0 0 2px rgb(4, 225, 175), 0 0 0 4px rgb(12, 12, 12);
}